
<body>
<link rel='stylesheet' href='styles.css'>
<button class='displayBtn'>
  Click me
</button>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="script.js"></script>
</body>

